<app-titulo></app-titulo>

<button routerLink="favoritos">ver favoritos</button>
<input
  type="text"
  name="bucadorProvincia"
  id="bucadorProvincia"
  placeholder="Introduce provincia ITv"
  [(ngModel)]="palabraBuscada"
  (keyup)="buscarProvincia()"
/>
<select name="" id="" (change)="seleccionarPruebaDetalle($event)">
  <option value="">Selecciona tipo itv</option>
  <option
    *ngFor="let zonaConcesional of zonasConcesionales"
    value="{{ zonaConcesional }}"
  >
    {{ zonaConcesional }}
  </option>
</select>
<app-total-resutados [totalResultados]="totalResultados"></app-total-resutados>

<div class="provincias">
  <app-provincia
    [provincia]="infoProvincia"
    *ngFor="let infoProvincia of infoProvincias"
  ></app-provincia>
</div>
